.nfts{
    background-color: #F7F7F7;
}

.analysis{
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
}

.ranking{
    text-align: center;
    padding: 1rem;
    margin-bottom: -5px;
}